* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  .row {
    background-image: url('../../../images/divReadTag0.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 7px 7px var(--div-box-shadow-color);
    padding: 1.1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: left;
    text-indent: 0.2rem;
    margin-bottom: 0.5rem;
    margin-top: 7.5rem;
    transition: all 0.3s ease-out;
  }

  .log-read-div {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0.1rem;
    gap: 0rem;
  }

  .btn {
    background: hsla(0, 0%, 90%, 0.7);
    border: 1px solid hsla(0, 0%, 100%, 0.8);
    color: hsla(0, 0%, 0%, 1);
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 1.5em;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 2.7rem;
    margin-right: 2.4rem;
  }
  
  .btn:hover,
  .btn:focus-visible {
    background: hsla(0, 0%, 90%, 0.85);
  }

  .btn:active {
    background: hsla(0, 0%, 90%, 0.95);
  }

  .log {
    overflow-wrap: break-word;
    max-width: 400px;
    white-space: pre-wrap;
    color: white;
    margin-bottom: 0rem;
    text-indent: 0;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .log-test {
    overflow-wrap: break-word;
    max-width: 400px;
    white-space: pre-wrap;
    color: white;
    margin-bottom: -0.6rem;
    text-indent: 0;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .labl-read {
    color: white;
    margin-bottom: 1rem;
    font-size: large;
    font-family: "Prompt", Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  @media screen and (min-width: 700px) {
    .row {
      min-height: 12rem;
      gap: 2.5rem;
    }

    .btn {
      padding: 0.5em 0.75em 0.5em 0.75em;
      margin-left: 11.3rem;
      margin-right: 11.3rem;
      font-size: large;
    }

    .log {
      max-width: 700px;
      font-size: large;
    }

    .log-test {
      max-width: 700px;
      font-size: large;
    }

    .labl-read {
      font-size: x-large;
    }
  }

