* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  .button-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  .litem {
    overflow-wrap: break-word;
    width: 120px;
    white-space: pre-wrap;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  .btn-list-write {
    background: hsla(0, 0%, 90%, 0.7);
    border: 1px solid hsla(0, 0%, 100%, 0.8);
    color: hsla(0, 0%, 0%, 1);
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 1.5em;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
  }
  
  .btn-list-write:hover,
  .btn-list-write:focus-visible {
    background: hsla(0, 0%, 90%, 0.85);
  }

  .btn-list-write:active {
    background: hsla(0, 0%, 90%, 0.95);
  }

  .btn-list-write:disabled{
    background: hsla(0, 0%, 90%, 0.15);
    border: 1px solid hsl(0, 0%, 65%);
    color: hsl(0, 0%, 70%);
    cursor: not-allowed;
  }
  
  .btn-delete {
    background: hsla(0, 100%, 35%, 0.7);
    border: 1px solid hsla(0, 100%, 45%, 0.8);
    color: hsl(0, 0%, 90%);
    padding: 0.5em 0.75em 0.5em 0.75em;
    border-radius: 1.5em;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8em;
  }
  
  .btn-delete:hover,
  .btn-delete:focus-visible {
    background: hsla(0, 100%, 35%, 0.88);
  }

  .btn-delete:active {
    background: hsla(0, 100%, 35%, 0.95);
  }

  .btn-delete:disabled{
    background: hsla(0, 0%, 90%, 0.15);
    border: 1px solid hsl(0, 0%, 65%);
    color: hsl(0, 0%, 70%);
    cursor: not-allowed;
  }

  @media screen and (min-width: 700px) {
    .button-row {
      gap: 1rem;
    }

    .litem {
      width: 370px;
      font-size: large;
    }
  
    .btn-list-write {
      padding: 0.5em 0.75em 0.5em 0.75em;
      font-size: medium;
    }
    
    .btn-delete {
      padding: 0.75em 1em 0.75em 1em;
      font-size: medium;
    }

    .row-list {
      gap: 0.5rem;
    }

    .labl-list {
      font-size: x-large;
    }

    .serial-label {
      font-size: large;
    }
  
    .index-label {
      font-size: large;
    }
  
    .checkbox-serial {
      height: 15px;
      width: 15px;
    }
  
    .checkbox-index {
      height: 15px;
      width: 15px;
    }
  
    .log-info {
      max-width: 700px;
      font-size: large;
    }
    
    .list-qrs li {
      gap: 2rem;
    }
  }
  